body {
    background-color: brown;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

#heading-text {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1.6em;
}

#main-text {
    background-color: rgb(133, 35, 35);
    padding-top: 10px;
    padding-bottom: 10px;
}